<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("components/links/loader-links-no-font") %> <%-
    include("components/links/nav-links") %>
    <link rel="stylesheet" href="/css/contacts.css" />
    <script defer src="/js/contacts.js"></script>
    <title>Contacts</title>
  </head>
  <body>
    <%- include("components/parts/loader") %> <%-
    include("components/parts/nav.ejs") %>
    <section class="main-box">
      <%- include("components/parts/contact") %>

      <a href="/contacts/add" class="add-contact">
        <div class="add-btn">
          <p>+</p>
        </div></a
      >
    </section>
    <%- include("components/parts/error-success") %>
  </body>
</html>
