<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include("components/links/loader-links") %> <%-
        include("components/links/login-register") %>
        <link rel="stylesheet" href="css/login.css" />
        <title>Login</title>
    </head>
    <body>
        <%- include("components/parts/loader") %>
        <div class="loging-page">
            <div class="loging-box">
                <% if (typeof errors != 'undefined') { %> <% if (errors.length)
                { %> <%- include("components/parts/error-box") %> <% } %> <% }
                %>
                <h3 class="loging-title">Please Log In</h3>
                <form method="POST" action="/login">
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Put your Email"
                            value="<%= typeof email!= 'undefined' ? email : '' %>"
                        />
                    </div>
                    <div class="input-group">
                        <label for="pasword">Password</label>
                        <input
                            type="password"
                            name="password"
                            id="password"
                            placeholder="Put your Password"
                            value="<%= typeof password!= 'undefined' ? password : '' %>"
                        />
                    </div>
                    <div class="loging-box-button">
                        <button
                            type="submit"
                            class="loging-button"
                            value="Login"
                        >
                            Sing In
                        </button>
                    </div>
                    <div class="register-box-txt">
                        <p class="register-txt">
                            You do´nt have an account?
                            <a href="/register">register now</a>
                            or go
                            <a href="/home">home</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
